*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER */
header{
    height: 70px;
    background-color: rgb(1, 218, 98);
}

#btns{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btns select{
    height: 30px;
}

#btns button{
    margin-left: 20px;
    padding: 5px 10px;
}

#main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 22, 50);
    height: calc(100vh - 70px);
}

#square-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 60vh;
    min-height: 300px;
    width: 60vh;
    min-width: 300px;
    background-color: white;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
}


.hidden{
    display: none;
}

.visible{
    display: inline-block;
}

.cell:hover{
    transform: scale(1.1);
}

.cell:active{
    transform: scale(1);
}

.clicked{
    background-color: #007fff;
}

.white{
    color: white;
}

.x7{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.x9{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.x10{
    width: calc(100% / 10);
    height: calc(100% / 10);
}